html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

.wrapper {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input-section {
    display: flex;
    flex-direction: column;
}

.display-result-section {
    display: none;
}