html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

.wrapper {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    column-gap: 28px;
}

.container {
    display: flex;
    column-gap: 28px;
    margin: 96px;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 10px;
    width: 800px;
}

.heading-and-clearall {
    display: flex;
    justify-content: space-between;
}

.input-section {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 16px;
}

input {
    border-radius: 4px;
    outline: none;
    border: 1px solid black;
    padding: 4px;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.mortgage-amount, .mortgage-term, .interest-rate, .mortgage-type, .radio-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.mortgage-term-and-interest-rate {
    display: flex;
    column-gap: 8px;
}

.repayment, .interest-only {
    border: 1px solid black;
    padding: 4px;
    border-radius: 4px;
}

.submit-button button {
    background-color: hsl(61, 70%, 52%);
    border: none;
    border-radius: 10px;
    padding: 4px 16px 6px 16px;
    font-size: 12px;
    font-weight: bold;
}

button > img {
    width: 16px;
    position: relative;
    top: 3px;
    right: 3px;
}

input[type = "radio"] {  
    accent-color: yellow;
}

.result-section-default {
    background-color: hsl(202, 55%, 16%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    color: white;

}

.result-section-default > .description {
    text-align: center;
}

.display-result-section {
    background-color: hsl(202, 55%, 16%);
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    display: none;
}

.display-result {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-top: 2px solid yellow;
    padding: 16px;
}

.display-result-interest, .display-result-repayment {
    display: flex;
    flex-direction: column;
    border-top: 2px solid yellow;
    padding: 16px;
    display: none;
    border-radius: 4px;
}

.monthly-repayment-style, .monthly-interest-style {
    padding: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.monthly-repayment-result, .monthly-interest-result {
    font-size: 40px;
    font-weight: bold;
    color: yellow
}

.total-repayment-style, .total-interest-style {
    padding: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    border-top: 1px solid hsl(200, 26%, 54%);
}

.total-repayment-result, .total-interest-result {
    font-size: 20px;
    font-weight: bold;
}

.heading {
    font-size: 20px;
    font-weight: bold;
}

.mortgage-calculator {
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.clear-button {
    border: none;
    background-color: white;
    border-bottom: 1px solid;
    color: grey;
}